@charset "UTF-8";.text-inherit {
    color: var(--fc-gray-800);
}

:root, [data-bs-theme="light"] {
    --fc-blue: #1dace3;
    --fc-yellow: #ffc107;
    --fc-green: #198754;
    --fc-cyan: #016bf8;
    --fc-black: #000;
    --fc-gray: #5c6c75;
    --fc-gray-dark: #21313c;
    --fc-gray-100: #f0f3f2;
    --fc-gray-200: #ecf0ef;
    --fc-gray-300: #dfe2e1;
    --fc-gray-500: #889397;
    --fc-red: red;
    --fc-gray-600: #5c6c75;
    --fc-gray-700: #3d4f58;
    --fc-gray-800: #21313c;
    --fc-gray-900: #001e2b;
    --fc-primary: #0c2061;
    --fc-secondary: #889397;
    --fc-success: #198754;
    --fc-info: #016bf8;
    --fc-warning: #ffc107;
    --fc-danger: #db3030;
    --fc-light: #f0f3f2;
    --fc-dark: #001e2b;
    --fc-gray-400: #c1c7c6;
    --fc-white: #fff;
    --fc-light-primary: #ceefce;
    --fc-light-secondary: #889397;
    --fc-light-danger: #f8d6d6;
    --fc-light-info: #cce1fe;
    --fc-light-warning: #fff3cd;
    --fc-light-success: #d1e7dd;
    --fc-dark-primary: #044504;
    --fc-dark-warning: #664d03;
    --fc-dark-info: #002b63;
    --fc-dark-danger: #581313;
    --fc-dark-success: #0a3622;
    --fc-dark-secondary: #ecf0ef;
    --fc-indigo: #6610f2;
    --fc-red: #db3030;
    --fc-pink: #d63384;
    --fc-orange: #fd7e14;
    --fc-teal: #20c997;
    --fc-purple: #6f42c1;
    --fc-primary-rgb: 10, 173, 10;
    --fc-secondary-rgb: 136, 147, 151;
    --fc-success-rgb: 25, 135, 84;
    --fc-info-rgb: 1, 107, 248;
    --fc-warning-rgb: 255, 193, 7;
    --fc-danger-rgb: 219, 48, 48;
    --fc-light-rgb: 240, 243, 242;
    --fc-dark-rgb: 0, 30, 43;
    --fc-gray-400-rgb: 193, 199, 198;
    --fc-light-primary-rgb: 206, 239, 206;
    --fc-light-secondary-rgb: 136, 147, 151;
    --fc-light-danger-rgb: 248, 214, 214;
    --fc-light-info-rgb: 204, 225, 254;
    --fc-light-warning-rgb: 255, 243, 205;
    --fc-light-success-rgb: 209, 231, 221;
    --fc-dark-primary-rgb: 4, 69, 4;
    --fc-dark-warning-rgb: 102, 77, 3;
    --fc-dark-info-rgb: 0, 43, 99;
    --fc-dark-danger-rgb: 88, 19, 19;
    --fc-dark-success-rgb: 10, 54, 34;
    --fc-dark-secondary-rgb: 236, 240, 239;
    --fc-indigo-rgb: 102, 16, 242;
    --fc-red-rgb: 219, 48, 48;
    --fc-pink-rgb: 214, 51, 132;
    --fc-orange-rgb: 253, 126, 20;
    --fc-teal-rgb: 32, 201, 151;
    --fc-purple-rgb: 111, 66, 193;
    --fc-primary-text-emphasis: #044504;
    --fc-secondary-text-emphasis: #363b3c;
    --fc-success-text-emphasis: #0a3622;
    --fc-info-text-emphasis: #002b63;
    --fc-warning-text-emphasis: #664d03;
    --fc-danger-text-emphasis: #581313;
    --fc-light-text-emphasis: #3d4f58;
    --fc-dark-text-emphasis: #3d4f58;
    --fc-primary-bg-subtle: #ceefce;
    --fc-secondary-bg-subtle: #e7e9ea;
    --fc-success-bg-subtle: #d1e7dd;
    --fc-info-bg-subtle: #cce1fe;
    --fc-warning-bg-subtle: #fff3cd;
    --fc-danger-bg-subtle: #f8d6d6;
    --fc-light-bg-subtle: #f8f9f9;
    --fc-dark-bg-subtle: #c1c7c6;
    --fc-primary-border-subtle: #9dde9d;
    --fc-secondary-border-subtle: #cfd4d5;
    --fc-success-border-subtle: #a3cfbb;
    --fc-info-border-subtle: #99c4fc;
    --fc-warning-border-subtle: #ffe69c;
    --fc-danger-border-subtle: #f1acac;
    --fc-light-border-subtle: #ecf0ef;
    --fc-dark-border-subtle: #889397;
    --fc-white-rgb: 255, 255, 255;
    --fc-black-rgb: 0, 0, 0;
    --fc-font-sans-serif: "Inter", sans-serif;
    --fc-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --fc-gradient: linear-gradient( 180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0) );
    --fc-body-font-family: "Poppins" !important;
    --fc-body-font-size: 0.875rem;
    --fc-body-font-weight: 500;
    --fc-body-line-height: 1.6;
    --fc-body-color: #5c6c75;
    --fc-body-color-rgb: 92, 108, 117;
    --fc-body-bg: #fff;
    --fc-body-bg-rgb: 255, 255, 255;
    --fc-emphasis-color: #000;
    --fc-emphasis-color-rgb: 0, 0, 0;
    --fc-secondary-color: rgba(92, 108, 117, 0.75);
    --fc-secondary-color-rgb: 92, 108, 117;
    --fc-secondary-bg: #ecf0ef;
    --fc-secondary-bg-rgb: 236, 240, 239;
    --fc-tertiary-color: rgba(92, 108, 117, 0.5);
    --fc-tertiary-color-rgb: 92, 108, 117;
    --fc-tertiary-bg: #f0f3f2;
    --fc-tertiary-bg-rgb: 240, 243, 242;
    --fc-heading-color: #21313c;
    --fc-link-color: #1dace3;
    --fc-link-color-rgb: 10, 173, 10;
    --fc-link-decoration: underline;
    --fc-link-hover-color: #5487bb;
    --fc-link-hover-color-rgb: 8, 138, 8;
    --fc-code-color: #d63384;
    --fc-highlight-color: #5c6c75;
    --fc-highlight-bg: #fff3cd;
    --fc-border-width: 1px;
    --fc-border-style: solid;
    --fc-border-color: var(--fc-gray-300);
    --fc-border-color-translucent: var(--fc-gray-300);
    --fc-border-radius: 0.5rem;
    --fc-border-radius-sm: 0.25rem;
    --fc-border-radius-lg: 0.75rem;
    --fc-border-radius-xl: 1rem;
    --fc-border-radius-xxl: 2rem;
    --fc-border-radius-2xl: var(--fc-border-radius-xxl);
    --fc-border-radius-pill: 50rem;
    --fc-box-shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px, rgba(145, 158, 171, 0.14) 0px 4px 5px 0px, rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
    --fc-box-shadow-sm: rgba(145, 158, 171, 0.2) 0px 3px 1px -2px, rgba(145, 158, 171, 0.14) 0px 2px 2px 0px, rgba(145, 158, 171, 0.12) 0px 1px 5px 0px;
    --fc-box-shadow-lg: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
    --fc-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --fc-focus-ring-width: 0.25rem;
    --fc-focus-ring-opacity: 0.25;
    --fc-focus-ring-color: rgba(10, 173, 10, 0.25);
    --fc-form-valid-color: #198754;
    --fc-form-valid-border-color: #198754;
    --fc-form-invalid-color: #db3030;
    --fc-form-invalid-border-color: #db3030;
}
*, :after, :before {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

body {
    font-family: "Poppins";
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: var(--fc-body-bg);
    color: var(--fc-body-color);
    font-family: var(--fc-body-font-family);
    font-size: var(--fc-body-font-size);
    font-weight: var(--fc-body-font-weight);
    line-height: var(--fc-body-line-height);
    margin: 0;
    text-align: var(--fc-body-text-align);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: var(--fc-heading-color);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.h1, h1 {
    font-size: calc(1.34375rem + 1.125vw);
}

@media (min-width: 1200px) {
    .h1, h1 {
        font-size: 2.1875rem;
    }
}
.h3, h3 {
    font-size: calc(1.27813rem + 0.3375vw);
}

@media (min-width: 1200px) {
    .h3, h3 {
        font-size: 1.53125rem;
    }
}
.h6, h6 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1rem;
    margin-top: 0;
}
ol, ul {
    padding-left: 2rem;
}

dl, ol, ul {
    margin-bottom: 1rem;
    margin-top: 0;
}

ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
}
b, strong {
    font-weight: bolder;
}

.small, small {
    font-size: 0.875em;
}
a {
    color: rgba(var(--fc-link-color-rgb), var(--fc-link-opacity, 1));
    text-decoration: underline;
}
img, svg {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    caption-side: bottom;
}
tbody, td, tfoot, th, thead, tr {
    border: 0 solid;
    border-color: inherit;
}
button {
    border-radius: 0;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}
button, select {
    text-transform: none;
}

[role="button"] {
    cursor: pointer;
}
[type="button"], [type="reset"], [type="submit"], button {
    -webkit-appearance: button;
}

[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
iframe {
    border: 0;
}
.list-inline, .list-unstyled {
    list-style: none;
    padding-left: 0;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}
.img-fluid, .img-thumbnail {
    height: auto;
    max-width: 100%;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --fc-gutter-x: 2rem;
    --fc-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--fc-gutter-x) * 0.5);
    padding-right: calc(var(--fc-gutter-x) * 0.5);
    width: 100%;
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}
:root {
    --fc-breakpoint-xs: 0;
    --fc-breakpoint-sm: 576px;
    --fc-breakpoint-md: 768px;
    --fc-breakpoint-lg: 992px;
    --fc-breakpoint-xl: 1200px;
    --fc-breakpoint-xxl: 1400px;
}

.row {
    --fc-gutter-x: 2rem;
    --fc-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--fc-gutter-x) * -0.5);
    margin-right: calc(var(--fc-gutter-x) * -0.5);
    margin-top: calc(var(--fc-gutter-y) * -1);
}

.row > * {
    flex-shrink: 0;
    margin-top: var(--fc-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--fc-gutter-x) * 0.5);
    padding-right: calc(var(--fc-gutter-x) * 0.5);
    width: 100%;
}
.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
.col-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
@media (min-width: 576px) {
     .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}
@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}
@media (min-width: 992px) {
    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
}
.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #e0dfe2;
    border-radius: 0.5rem !important;
    color: #21313c;
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.6;
    padding: 0.55rem 1rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
}
.form-control::placeholder {
    color: #889397;
    opacity: 1;
}
.input-group {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.input-group > .form-control, .input-group > .form-floating, .input-group > .form-select {
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
    width: 1%;
}
.input-group .btn {
    position: relative;
    z-index: 2;
}
.input-group.has-validation > .dropdown-toggle:nth-last-child(n + 4), .input-group.has-validation > .form-floating:nth-last-child(n + 3) > .form-control, .input-group.has-validation > .form-floating:nth-last-child(n + 3) > .form-select, .input-group.has-validation > :nth-last-child(n + 3):not(.dropdown-toggle):not(.dropdown-menu):not( .form-floating ), .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3), .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control, .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select, .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not( .form-floating ) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not( .valid-feedback ):not(.invalid-tooltip):not(.invalid-feedback) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 1px;
}
.btn {
    --fc-btn-padding-x: 1rem;
    --fc-btn-padding-y: 0.55rem;
    --fc-btn-font-family: ;
    --fc-btn-font-size: 0.875rem;
    --fc-btn-font-weight: 600;
    --fc-btn-line-height: 1.6;
    --fc-btn-color: var(--fc-body-color);
    --fc-btn-bg: transparent;
    --fc-btn-border-width: 1px;
    --fc-btn-border-color: transparent;
    --fc-btn-border-radius: 0.5rem;
    --fc-btn-hover-border-color: transparent;
    --fc-btn-box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --fc-btn-disabled-opacity: 0.65;
    --fc-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--fc-btn-focus-shadow-rgb), 0.5);
    background-color: var(--fc-btn-bg);
    border: var(--fc-btn-border-width) solid var(--fc-btn-border-color);
    border-radius: var(--fc-btn-border-radius);
    color: var(--fc-btn-color);
    cursor: pointer;
    display: inline-block;
    font-family: var(--fc-btn-font-family);
    font-size: var(--fc-btn-font-size);
    font-weight: var(--fc-btn-font-weight);
    line-height: var(--fc-btn-line-height);
    padding: var(--fc-btn-padding-y) var(--fc-btn-padding-x);
    text-align: center;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
}
.fade {
    transition: opacity 0.15s linear;
}
.fade:not(.show) {
    opacity: 0;
}
.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    position: relative;
}

.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-toggle:after {
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.3em solid;
    content: "";
    display: inline-block;
}
.dropdown-menu {
    --fc-dropdown-zindex: 1000;
    --fc-dropdown-min-width: 10rem;
    --fc-dropdown-padding-x: 0.5rem;
    --fc-dropdown-padding-y: 0.5rem;
    --fc-dropdown-spacer: 0.125rem;
    --fc-dropdown-font-size: 0.875rem;
    --fc-dropdown-color: var(--fc-gray-600);
    --fc-dropdown-bg: #fff;
    --fc-dropdown-border-color: transparent;
    --fc-dropdown-border-radius: 0.5rem;
    --fc-dropdown-border-width: 1px;
    --fc-dropdown-inner-border-radius: calc(0.5rem - 1px);
    --fc-dropdown-divider-bg: #ecf0ef;
    --fc-dropdown-divider-margin-y: 0.5rem;
    --fc-dropdown-box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
    --fc-dropdown-link-color: #5c6c75;
    --fc-dropdown-link-hover-color: #3d4f58;
    --fc-dropdown-link-hover-bg: #f0f3f2;
    --fc-dropdown-link-active-color: #fff;
    --fc-dropdown-link-active-bg: #0aad0a;
    --fc-dropdown-link-disabled-color: #889397;
    --fc-dropdown-item-padding-x: 0.75rem;
    --fc-dropdown-item-padding-y: 0.25rem;
    --fc-dropdown-header-color: #5c6c75;
    --fc-dropdown-header-padding-x: 0.75rem;
    --fc-dropdown-header-padding-y: 0.5rem;
    background-clip: padding-box;
    background-color: var(--fc-dropdown-bg);
    border: var(--fc-dropdown-border-width) solid var(--fc-dropdown-border-color);
    border-radius: var(--fc-dropdown-border-radius);
    color: var(--fc-dropdown-color);
    display: none;
    font-size: var(--fc-dropdown-font-size);
    list-style: none;
    margin: 0;
    min-width: var(--fc-dropdown-min-width);
    padding: var(--fc-dropdown-padding-y) var(--fc-dropdown-padding-x);
    position: absolute;
    text-align: left;
    z-index: var(--fc-dropdown-zindex);
}
.dropend .dropdown-toggle:after {
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
    border-right: 0;
    border-top: 0.3em solid transparent;
    content: "";
}
.dropend .dropdown-toggle:after {
    vertical-align: 0;
}
.dropdown-item {
    border: 0;
    border-radius: var(--fc-dropdown-item-border-radius, 0);
    clear: both;
    color: var(--fc-dropdown-link-color);
    display: block;
    font-weight: 400;
    padding: var(--fc-dropdown-item-padding-y) var(--fc-dropdown-item-padding-x);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
}
.nav {
    --fc-nav-link-padding-x: 1rem;
    --fc-nav-link-padding-y: 0.5rem;
    --fc-nav-link-font-size: 0.875rem;
    --fc-nav-link-font-weight: 500;
    --fc-nav-link-color: var(--fc-gray-800);
    --fc-nav-link-hover-color: var(--fc-link-hover-color);
    --fc-nav-link-disabled-color: #c1c7c6;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.nav-link {
    background: none;
    border: 0;
    color: var(--fc-nav-link-color);
    display: block;
    font-size: var(--fc-nav-link-font-size);
    font-weight: var(--fc-nav-link-font-weight);
    padding: var(--fc-nav-link-padding-y) var(--fc-nav-link-padding-x);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.navbar {
    --fc-navbar-padding-x: 0;
    --fc-navbar-padding-y: 0.5rem;
    --fc-navbar-color: #21313c;
    --fc-navbar-hover-color: #0aad0a;
    --fc-navbar-disabled-color: rgba(0, 0, 0, 0.3);
    --fc-navbar-active-color: rgba(0, 0, 0, 0.9);
    --fc-navbar-brand-padding-y: 0.325rem;
    --fc-navbar-brand-margin-end: 1rem;
    --fc-navbar-brand-font-size: 1.09375rem;
    --fc-navbar-brand-color: rgba(0, 0, 0, 0.9);
    --fc-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
    --fc-navbar-nav-link-padding-x: 0.5rem;
    --fc-navbar-toggler-padding-y: 0.25rem;
    --fc-navbar-toggler-padding-x: 0.75rem;
    --fc-navbar-toggler-font-size: 1.09375rem;
    --fc-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%2321313c' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    --fc-navbar-toggler-border-radius: 0.5rem;
    --fc-navbar-toggler-focus-width: 0.25rem;
    --fc-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--fc-navbar-padding-y) var(--fc-navbar-padding-x);
    position: relative;
}

.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
    align-items: center;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
    padding: 20px 0px;
}

.navbar-brand {
    color: var(--fc-navbar-brand-color);
    font-size: var(--fc-navbar-brand-font-size);
    margin-right: var(--fc-navbar-brand-margin-end);
    padding-bottom: var(--fc-navbar-brand-padding-y);
    padding-top: var(--fc-navbar-brand-padding-y);
    text-decoration: none;
    white-space: nowrap;
}
.navbar-nav {
    --fc-nav-link-padding-x: 0;
    --fc-nav-link-padding-y: 0.5rem;
    --fc-nav-link-font-size: 0.875rem;
    --fc-nav-link-font-weight: 500;
    --fc-nav-link-color: var(--fc-navbar-color);
    --fc-nav-link-hover-color: var(--fc-navbar-hover-color);
    --fc-nav-link-disabled-color: var(--fc-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.navbar-nav .dropdown-menu {
    position: static;
}
@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: var(--fc-navbar-nav-link-padding-x);
        padding-right: var(--fc-navbar-nav-link-padding-x);
    }
    .navbar-expand-lg .offcanvas {
        background-color: transparent !important;
        border: 0 !important;
        flex-grow: 1;
        height: auto !important;
        position: static;
        transform: none !important;
        transition: none;
        visibility: visible !important;
        width: auto !important;
        z-index: auto;
    }

    .navbar-expand-lg .offcanvas .offcanvas-header {
        display: none;
    }

    .navbar-expand-lg .offcanvas .offcanvas-body {
        display: flex;
        justify-content: space-between;
        flex-grow: 0;
        overflow-y: visible;
        padding: 0;
    }
}
.modal {
    --fc-modal-zindex: 1055;
    --fc-modal-width: 500px;
    --fc-modal-padding: 1rem;
    --fc-modal-margin: 0.5rem;
    --fc-modal-color: ;
    --fc-modal-bg: #fff;
    --fc-modal-border-color: var(--fc-border-transparent);
    --fc-modal-border-width: 1px;
    --fc-modal-border-radius: 0.75rem;
    --fc-modal-box-shadow: rgba(145, 158, 171, 0.2) 0px 3px 1px -2px, rgba(145, 158, 171, 0.14) 0px 2px 2px 0px, rgba(145, 158, 171, 0.12) 0px 1px 5px 0px;
    --fc-modal-inner-border-radius: calc(0.75rem - 1px);
    --fc-modal-header-padding-x: 1rem;
    --fc-modal-header-padding-y: 1rem;
    --fc-modal-header-padding: 1rem 1rem;
    --fc-modal-header-border-color: var(--fc-border-color);
    --fc-modal-header-border-width: 1px;
    --fc-modal-title-line-height: 1.6;
    --fc-modal-footer-gap: 0.5rem;
    --fc-modal-footer-bg: ;
    --fc-modal-footer-border-color: var(--fc-border-color);
    --fc-modal-footer-border-width: 1px;
    display: none;
    height: 100%;
    left: 0;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--fc-modal-zindex);
}
@media (min-width: 576px) {
    .modal {
        --fc-modal-margin: 1.75rem;
        --fc-modal-box-shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px, rgba(145, 158, 171, 0.14) 0px 4px 5px 0px, rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
    }
}
.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --fc-offcanvas-zindex: 1045;
    --fc-offcanvas-width: 560px;
    --fc-offcanvas-height: 30vh;
    --fc-offcanvas-padding-x: 1rem;
    --fc-offcanvas-padding-y: 1rem;
    --fc-offcanvas-color: var(--fc-body-color);
    --fc-offcanvas-bg: #fff;
    --fc-offcanvas-border-width: 1px;
    --fc-offcanvas-border-color: var(--fc-border-transparent);
    --fc-offcanvas-box-shadow: rgba(145, 158, 171, 0.2) 0px 3px 1px -2px, rgba(145, 158, 171, 0.14) 0px 2px 2px 0px, rgba(145, 158, 171, 0.12) 0px 1px 5px 0px;
    --fc-offcanvas-transition: transform 0.3s ease-in-out;
    --fc-offcanvas-title-line-height: 1.6;
}
.offcanvas {
    background-clip: padding-box;
    bottom: 0;
    color: var(--fc-offcanvas-color);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    outline: 0;
    position: fixed;
    transition: var(--fc-offcanvas-transition);
    visibility: hidden;
    z-index: var(--fc-offcanvas-zindex);
    background-color: #f0f3f2;
}
.offcanvas.offcanvas-start {
    border-right: var(--fc-offcanvas-border-width) solid var(--fc-offcanvas-border-color);
    left: 0;
    top: 0;
    transform: translateX(-100%);
    width: var(--fc-offcanvas-width);
}
.offcanvas-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--fc-offcanvas-padding-y) var(--fc-offcanvas-padding-x);
}
.offcanvas-body {
    flex-grow: 1;
    overflow-y: auto;
    padding: var(--fc-offcanvas-padding-y) var(--fc-offcanvas-padding-x);
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 1px;
    color: #000;
}
.d-flex {
    display: flex !important;
}
.border {
    border: var(--fc-border-width) var(--fc-border-style) var(--fc-border-color) !important;
}
.border-start-0 {
    border-left: 0 !important;
}
.w-100 {
    width: 100% !important;
}
.flex-column {
    flex-direction: column !important;
}
.align-items-center {
    align-items: center !important;
}
.my-8 {
    margin-bottom: 2rem !important;
    margin-top: 2rem !important;
}
.mt-3 {
    margin-top: 0.75rem !important;
}
.me-5 {
    margin-right: 1.25rem !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 0.75rem !important;
}

.mb-4 {
    margin-bottom: 1rem !important;
}
.mb-6 {
    margin-bottom: 1.5rem !important;
}
.ms-3 {
    margin-left: 0.75rem !important;
}
.ms-auto {
    margin-left: auto !important;
}
.ms-n10 {
    margin-left: -3rem !important;
}
.px-5 {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}
.py-0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.py-1 {
    padding-bottom: 0.25rem !important;
    padding-top: 0.25rem !important;
}
.pb-1 {
    padding-bottom: 0.25rem !important;
}
.text-center {
    text-align: center !important;
}

.text-decoration-none {
    text-decoration: none !important;
}
.text-muted {
    --fc-text-opacity: 1;
    color: var(--fc-secondary-color) !important;
}
.bg-white {
    --fc-bg-opacity: 1;
    background-color: #fff !important;
}
.rounded-0 {
    border-radius: 0 !important;
}
.rounded-end {
    border-bottom-right-radius: var(--fc-border-radius) !important;
    border-top-right-radius: var(--fc-border-radius) !important;
}
@media (min-width: 768px) {
    .mt-md-0 {
        margin-top: 0 !important;
    }
    .text-md-end {
        text-align: right !important;
    }
}
@media (min-width: 992px) {
    .w-lg-auto {
        width: auto !important;
    }
    .my-lg-12 {
        margin-bottom: 4rem !important;
        margin-top: 4rem !important;
    }
    .mb-lg-10 {
        margin-bottom: 3rem !important;
    }
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
    transition: box-shadow .5s;
    border-bottom: 1px solid #e6e6e6;
}
.navbar .navbar-nav .nav-item .nav-link {
    line-height: 1.8;
}
.navbar .dropdown .dropdown-toggle:after {
    background-repeat: no-repeat;
    background-size: 0.625rem 0.625rem;
    border: none;
    color: var(--fc-gray-600);
    content: "\f12f";
    float: right;
    font-family: feather-icons !important;
    line-height: 2;
    margin-left: 0.375rem;
}

.navbar .dropdown-menu {
    border-radius: 0.5rem;
    box-shadow: 0 0 2px rgba(145, 158, 171, 0.2), 0 12px 24px -4px rgba(145, 158, 171, 0.12);
    color: var(--fc-gray-600);
    line-height: 1.2rem;
    min-width: 15rem;
    top: 40px;
}
.navbar .dropdown-menu .dropdown-submenu a:after {
    position: absolute;
    right: 0rem;
    transform: rotate(-90deg);
}

.navbar .dropdown-menu .dropdown-submenu.dropend .dropdown-menu {
    left: 100%;
    min-width: 12rem;
    right: 0;
    top: -18px;
}
@media (min-width: 1200px) {
    .navbar-default .dropdown-menu {
        display: block;
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.3s ease-in;
        visibility: hidden;
    }
}
body {
    -webkit-font-smoothing: antialiased;
}

a {
    color: #1caae2;
}

a, a:hover {
    text-decoration: none;
}
.h1, .h2, .h3, h1, h2, h3 {
    letter-spacing: -0.03rem;
}
.dropdown-menu {
    box-shadow: var(--fc-dropdown-box-shadow);
    line-height: 1.375rem;
    z-index: 1021;
}
.dropdown-item {
    align-items: center;
    background-color: transparent;
    border-radius: 0.5rem !important;
    display: flex;
    font-weight: var(--fc-font-weight-medium);
    line-height: 26px;
    padding: 0.125rem 0.75rem;
}
.dropdown-item:last-child {
    border-bottom: 0;
}
.dropdown-toggle:after {
    border: 0;
    content: "\f12f";
    float: right;
    font-family: feather-icons !important;
    margin-left: 0.255em;
    vertical-align: 0.255em;
}
.dropend .dropdown-toggle:after, .dropup .dropdown-toggle:after {
    border: 0;
    display: inline-block;
    font-family: feather-icons !important;
    margin-left: 0.255em;
    vertical-align: 0.255em;
}

.dropend .dropdown-toggle:after {
    content: "\f131";
}
.footer {
    background-color: #f2f2f2;
    padding: 40px 0 0 0;
}

.footer .nav .nav-item .nav-link {
    color: var(--fc-gray-600);
    padding: 0;
}
.hero-slider {
    position: relative;
}

.hero-slider .slick-slide {
    margin-right: 0 !important;
}

.hero-slider .slick-dots {
    bottom: 24px;
    display: block;
    position: absolute;
}

.hero-slider .slick-dots li {
    margin: 0;
}

.hero-slider .slick-dots li button:before {
    color: var(--fc-gray-800);
    font-size: 0.5rem;
}
.slick-slider .slick-slide {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.slick-slider .slick-list {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.slick-slider img {
    display: inline-block;
}

.slick-slider .slick-next:before, .slick-slider .slick-prev:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: none;
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
}

.slick-slider .slick-next, .slick-slider .slick-prev {
    align-items: center;
    background-color: var(--fc-gray-200);
    border: 1px solid var(--fc-gray-200);
    border-radius: 50px;
    color: var(--fc-gray-500);
    cursor: pointer;
    display: block;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 20px;
    font-size: 24px;
    height: 32px;
    justify-content: center;
    left: 97%;
    padding: 0;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    transition: 0.3s ease-in-out;
    width: 32px;
}
.slick-slider .slick-next {
    margin-top: -38px;
}
.slick-slider .slick-prev {
    margin-left: -40px;
    margin-top: -38px;
}
.slider-arrow {
    display: flex;
    justify-content: flex-end;
    max-width: 200px;
    position: relative;
    top: unset;
    transform: unset;
}

.slider-arrow .slick-prev {
    margin-right: 0.25rem;
}

.slider-arrow .slick-next {
    margin-left: 0.25rem;
}

.slider-arrow .slick-next, .slider-arrow .slick-prev {
    align-items: center;
    background-color: var(--fc-gray-200);
    border: 1px solid var(--fc-gray-200);
    border-radius: 50px;
    color: var(--fc-gray-500);
    display: inline-flex;
    flex-shrink: 0;
    font-size: 1.25rem;
    height: 32px;
    justify-content: center;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    transform: none;
    transition: 0.3s ease-in-out;
    width: 32px;
}
.slider-arrow .slick-next:before, .slider-arrow .slick-prev:before {
    display: none !important;
}
.desktop-navbar-brand {
    color: var(--fc-navbar-brand-color);
    font-size: var(--fc-navbar-brand-font-size);
    margin-right: var(--fc-navbar-brand-margin-end);
    padding-bottom: var(--fc-navbar-brand-padding-y);
    padding-top: var(--fc-navbar-brand-padding-y);
    text-decoration: none;
    white-space: nowrap;
}

.divider {
    width: 5px;
    height: 50px;
}

.single-deal {
    position: relative;
    margin-bottom: 30px;
}

.single-deal .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-deal .deal-details {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.blue-button {
    background-color: #1dace3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.single-deal {
    position: relative;
    margin-bottom: 30px;
    max-height: 385px;
    overflow: hidden;
    border-radius: 20px;
}

.single-deal .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-deal .deal-details {
    position: absolute;
    left: 50%;
    top: 115%;
    display: inline-block;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.input-group .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.flip-container {
    position: relative;
    perspective: 1000px;
    height: 330px;
    border-radius: 20px;
}

.flipper {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    border-radius: 20px;
}

.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}
.desktop-nav {
    display: block;
}

.mobile-nav {
    display: none;
}

.custom_col {
    flex: 1 0 0%;
}
.custom_arrow-button2 {
    position: absolute;
    top: 250px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 12px;
}
.custom_arrow-button2 i {
    color: goldenrod;
    font-size: 30px;
}
.header_card {
    background-color: white;
    width: 120px;
    margin: 5px;
    text-align: center;
    justify-content: center;
    color: black;
}

.header_card img {
    width: auto;
    height: 65px;
    border-radius: 10px 10px 0 0;
    margin: 5px;
    margin-bottom: 10px;
}
.emirates-section-nav {
    display: flex;
    justify-content: space-between;
}