  body, html { overflow-x:hidden; }
.nav-spacing {
    width: 100%;
    height: 120px;
}
.navbar-shadow {
    box-shadow: inset 0 -3em 3em rgb(255 255 255 / 30%), 0 0 0 2px white, 0.3em 0.3em 1em rgb(191 191 191 / 60%);
    border-bottom: 0 !important;
}
.emirates-section-nav .header_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.emirates-container{
    padding: 0 !important;
}
.hero-slider a img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.page-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
  display: inline-block;
  position: relative;
}
.page-title:after {
    content: "";
    height: 3.5px;
    border-radius: 15px;
    width: 25%;
    background-color: #21313c;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%);
}
.category-slider a img {
    height: 100px;
    width: auto;
}
.category-slider .item {
    text-align: center;
}
.category-slider .slick-prev {
    position: absolute;
    left: -23px;
    top: 60px;
    margin: 0 !important;
}
.category-slider .slick-next {
    position: absolute;
    margin-left: 32px !important;
    top: 97px;
}
.category-slider .text-truncate {
    font-size: 16px !important;
    margin-top: 10px;
}
.category-slider .item {
    margin: 0;
    padding: 0px 5px;
}
.np-container {
    padding: 0 !important;
}
.ad-container img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.footer-bottom {
    background-color: #e1e1e1;
    padding: 5px 0;
}
.newsletter p {
    margin-bottom: 0;
}
.newsletter input {
    font-size: 11px;
    padding-left: 7px;
    height: 38px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #7a7a7a;
    padding-right: 35px;
}
.newsletter button {
    background-color: #1caae2;
    color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 3px;
    margin-left: -35px;
}
.footer-bottom a {
    font-weight: 600;
}
.footer-bottom .social-media a {
    padding: 0px 12px !important;
    font-size: 19px !important;
}
.footer-bottom .social-media a:hover {
    color: #1caae2;
}
.social-media li {
    margin: 0 !important;
}
.slider_div2 h3 {
    color: antiquewhite;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
}
.slider_div2 h6 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}
.slider_div2 p {
    font-size: 14px;
    color: #fff;
    margin: 10px 0;
    line-height: 20px;
}
.slider_div2 a {
    display: inline-block;
    padding: 5px 14px;
    background: #1caae2;
    color: antiquewhite;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    font-size: 13px;
}
.blogItem h5 {
    margin-top: 10px;
    font-size: 16px;
}
.blogItem p {
    font-size: 12px;
    text-align: justify;
}
.blogItem p {
    font-size: 12px;
    text-align: justify;
    margin-bottom: 20px;


    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 4; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
.breadcrumb {
    font-size: 10px;
}
.product-para {
    color: #fff;
    display: grid;
}
.feedback-comment input {
    width: 100% !important;
    padding-left: 55px;
}
.feedback-comment div {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    margin-top: -36px;
    z-index: 99;
}
.feedback-comment img {
    margin-top: -36px;
    z-index: 99;
    height: 30px;
    width: auto;
    border-radius: 50% !important;
}
.feedback-comment button {
    margin-top: -36px;
    z-index: 99;
    float: right;
    padding: 0px 10px;
    height: 30px;
}
.card-product img {
    border-radius: 12px;
}
.brand-coming {
    display: flex;
    justify-content: center;
}
.brand-coming img {
    width: 500px;
    margin-top: 50px;
}
.Lside_div img {
    box-shadow: inset 0 -3em 3em rgb(255 255 255 / 30%), 0 0 0 2px #ffffff00, 0.3em 0.3em 1em rgb(0 0 0 / 45%);
}
.main_div_container .row span {
    font-size: 24px;
}
.retailer-blog-content {
    margin-bottom: 45px;
}



/* Responsives */
@media (max-width: 990px) {

    .navbar .container{
        padding: 0;
    }
    .mobile-navbar .list-inline-item {
        margin-top: 40px;
    }
    .mobile-navbar .list-inline .navbar-brand {
        margin-top: -80px;
    }
    .nav-spacing{
        display: none;
    }
    .slick-slider .slick-list {
        width: 103%;
    }
    .my-8 {
        margin-bottom: 1rem !important;
        margin-top: 1rem !important;
    }
    .np-container{
        padding: 0 20px !important;
    }

    .category-slider .slick-next {
        margin-left: 10px !important;
    }
    .category-slider .slick-prev {
        left: -14px;
    }

    .ad-container img {
        width: 100%;
        height: 100px;
    }
    .divider{
        display: none;
    }
    .footer .container .row .col-6 {
        padding-bottom: 15px;
        border-bottom: 1px solid #777;
        margin-top: 20px;
    }
    .social-media {
        text-align: center;
    }
    .footer-bottom .container .row .col-md-6 {
        text-align: center !important;
        width: 100%;
    }
    .mt-16 {
        margin-top: 0rem !important;
    }
    .text-sm-justified{
        text-align: justify !important;
    }

    .mt-110 {
      margin-top: 15px !important;
    }
    .main_div_container {
        height: 160px;
    }
    .Lside_div img {
        height: 225px !important;
    }
    .Rside_div {
        height: 280px !important;
    }
    .product-para {
        margin-left: -50px;
        width: 200px;
        color: #fff;
        font-size: 12px;
        display: inline-block;
    }
    .product-para .btn {
        padding: 2px 10px;
        margin-top: 8px;
    }
}